$dash-size: 5px;
$theme-color: #d77643;
$fill-color: #ead4aa;
#upgrade-popup {
  pointer-events: none;
  width: 900px;
  height: 200px;
  border: 1px solid black;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5000;
  background-color: #f8dd99;
  opacity: 1;

  padding: 6px;
  max-width: 650px;
  background: lighten($theme-color, 20%);
  border: $dash-size dashed #ca774b;
  box-shadow: 0 0 0 2.5px #ca774b, 0 0 0 2.5px #fff, inset 0 0 0 2.5px #ca774b,
    0 5px 10px 15px rgb(0 0 0 / 50%), inset 0 0 0 2px #fff,
    inset 0 0 100vw 100vw #ead4aa;
  color: darken($theme-color, 20%);
  font-size: 3em;
  text-align: center;
  cursor: url("../../assets/ui/cursor_big.png"),
    url("../../assets/ui/cursor_03.cur"), default;
  pointer-events: auto !important;

  .title {
    font-size: 30px;
    margin: 16px;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
  }
  .close-button {
    pointer-events: auto;
    position: absolute;
    top: -8px;
    right: 32px;
    img {
      width: 15px;
    }
  }
  .upgrade-container {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 60px;
    .upg-item {
      font-size: 25px;
      h6 {
        margin: 0;
      }
    }
  }
  .description-container {
    font-size: 25px;
  }

  .upgrade-description {
    font-size: 14px;
  }
}
