<canvas
  id="game-canvas"
  [ngClass]="{
    water: hoveredFarmableArea.state === 'well',
    house: hoveredFarmableArea.state === 'house',
    mine: hoveredFarmableArea.state === 'minable',
    fish: hoveredFarmableArea.state === 'fishable',
    merch: hoveredFarmableArea.state === 'merchant',
    shovel: isShovelable(hoveredFarmableArea.state, player, mousePos)
  }"
  tabindex="0"
  (keydown)="keyDownEvent($event)"
  (keyup)="keyUpEvent($event)"
  (mousewheel)="doScrollOnMouse($event)"
  (mousemove)="getMousePos($event)"
  (mouseleave)="removeMouseProperties()"
  (contextmenu)="doRightClickOnMouse($event)"
  (click)="doLeftClickOnMouse($event)"
></canvas>
