canvas {
  display: block;
  background-color: #5fc14c;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0); /* mobile webkit */
  cursor: url("../../assets/ui/cursor_big.png"),
    url("../../assets/ui/cursor_03.cur"), default;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

.water {
  cursor: url("../../assets/ui/water-big.png"),
    url("../../assets/ui/cursor_03.cur"), default;
}

.house {
  cursor: url("../../assets/ui/bed-big.png"),
    url("../../assets/ui/cursor_03.cur"), default;
}
