<ng-container *ngIf="facade.gameData$ | async as gameData">
  <app-game
    [gameData]="gameData"
    (keyChange)="keyChange($event)"
    (changeTool)="changeTool($event)"
    (reduceSeedCount)="reduceSeedCount($event)"
    (changeEnergy)="changeEnergy($event)"
    (changeVelocity)="changeVelocity($event)"
    (changeWaterMeter)="changeWaterMeter($event)"
    (changeMoney)="changeMoney($event)"
    (canHarvest)="changeCanHarvest($event)"
    (canOpenShop)="changeCanOpenShop($event)"
    (canFillWater)="changeCanFillWater($event)"
  ></app-game>
  <app-game-ui
    [gameData]="gameData"
    (changeTool)="changeTool($event)"
  ></app-game-ui>
</ng-container>
