<ng-container *ngIf="facade.gameData$ | async as gameData">
  <app-title-screen
    (changeScene)="changeScene($event)"
    *ngIf="gameData.scene === 'title'"
  >
  </app-title-screen>
  <app-game-select
    *ngIf="gameData.scene === 'game-select'"
    (changeScene)="changeScene($event)"
    (setPlayerName)="addPlayer($event)"
  ></app-game-select>
  <app-play-lobby
    *ngIf="gameData.scene === 'play-lobby'"
    [gameData]="gameData"
    (changeScene)="changeScene($event)"
  ></app-play-lobby>
  <app-game
    *ngIf="gameData.scene === 'game'"
    #gameComp
    [gameData]="gameData"
    (keyChange)="keyChange($event, gameData.me, gameData.lobbyPlayers)"
    (changeTool)="changeTool($event)"
    (reduceSeedCount)="reduceSeedCount($event)"
    (changeEnergy)="changeEnergy($event)"
    (changeVelocity)="changeVelocity($event)"
    (changeWaterMeter)="changeWaterMeter($event)"
    (changeMoney)="changeMoney($event)"
    (canHarvest)="changeCanHarvest($event)"
    (canOpenShop)="changeCanOpenShop($event)"
    (openShop)="openShop($event)"
    (canFillWater)="changeCanFillWater($event)"
    (canEnterHouse)="changeCanEnterHouse($event)"
    (isSleeping)="changeIsSleeping($event)"
    (changePlayerState)="changePlayerState($event)"
  ></app-game>
  <app-game-ui
    *ngIf="gameData.scene === 'game'"
    [gameData]="gameData"
    (changeTool)="changeTool($event)"
  ></app-game-ui>
  <app-merchant
    [gameData]="gameData"
    (purchase)="purchaseItem($event)"
    (openShop)="openShop($event)"
    (changeTool)="changeTool($event)"
    *ngIf="gameData.openShop"
  ></app-merchant>
</ng-container>
