<div id="game-ui" [ngClass]="{ R1024x576: gameData.resolution.x === 1024 }">
  <div class="energy-bar" [style.width.%]="(2 * gameData.energy.max) / 10">
    <div
      class="bar"
      [style.width.%]="(gameData.energy.current / gameData.energy.max) * 100"
    ></div>
    <span>{{ gameData.energy.current }}/{{ gameData.energy.max }}</span>
  </div>
  <div class="gold-container">
    <img src="../../assets/ui/coin.png" alt="" /><span>{{
      gameData.money
    }}</span>
  </div>
  <div class="badge-count">
    <div *ngFor="let player of gameData.lobbyPlayers">
      <h6>{{ player.name }}</h6>
      <div>
        {{ player.badgeCount }} <img src="../../assets/ui/progress-medal.png" />
      </div>
    </div>
  </div>
  <div class="tool-ui">
    <div
      class="tool-icon"
      [ngClass]="{ shownShovel: gameData.canHarvest }"
      (mousedown)="$event.preventDefault()"
    >
      <img class="click-image" src="../../assets/ui/mouse-drop.png" />
      <img
        [ngClass]="{
          hideShovel: !gameData.isCarrying
        }"
        class="tool-icon"
        src="../../assets/ui/coin.png"
      />
      <span
        [ngClass]="{
          hideShovel: !gameData.isCarrying
        }"
        class="tool-desc"
        >Drop/Sell</span
      >
      <img
        [ngClass]="{
          hideShovel:
            gameData.equippedTool !== 'potato-seeds' &&
            gameData.equippedTool !== 'carrot-seeds' &&
            gameData.equippedTool !== 'wheat-seeds' &&
            gameData.equippedTool !== 'cabbage-seeds' &&
            gameData.equippedTool !== 'cauliflower-seeds' &&
            gameData.equippedTool !== 'beet-seeds' &&
            gameData.equippedTool !== 'radish-seeds' &&
            gameData.equippedTool !== 'kale-seeds' &&
            gameData.equippedTool !== 'sunflower-seeds'
        }"
        class="tool-icon"
        src="../../assets/ui/plant-big.png"
      />
      <img
        [ngClass]="{
          hideShovel: !gameData.canHarvest || gameData.equippedTool !== 'shovel'
        }"
        class="tool-icon"
        src="../../assets/ui/shovel-big.png"
      />

      <img
        [ngClass]="{
          hideShovel:
            !gameData.canHarvest || gameData.equippedTool !== 'pickaxe'
        }"
        class="tool-icon"
        src="../../assets/ui/pickaxe-big.png"
      />
      <img
        [ngClass]="{
          hideShovel: !gameData.canHarvest || gameData.equippedTool !== 'rod'
        }"
        class="tool-icon"
        src="../../assets/ui/rod-big.png"
      />
    </div>

    <div (mousedown)="$event.preventDefault()">
      <img class="click-image" src="../../assets/ui/mouse-drop-right.png" />
      <img
        [ngClass]="{
          hideShovel:
            gameData.equippedTool !== 'potato-seeds' &&
            gameData.equippedTool !== 'carrot-seeds' &&
            gameData.equippedTool !== 'wheat-seeds' &&
            gameData.equippedTool !== 'cabbage-seeds' &&
            gameData.equippedTool !== 'cauliflower-seeds' &&
            gameData.equippedTool !== 'beet-seeds' &&
            gameData.equippedTool !== 'radish-seeds' &&
            gameData.equippedTool !== 'kale-seeds' &&
            gameData.equippedTool !== 'sunflower-seeds' &&
            gameData.equippedTool !== 'basket'
        }"
        class="tool-icon"
        src="../../assets/ui/go-back.png"
      />
      <img
        [ngClass]="{
          hideShovel: !gameData.canEnterHouse || gameData.isSleeping
        }"
        class="tool-icon"
        src="../../assets/ui/bed-big.png"
      />
      <img
        [ngClass]="{
          hideShovel: !gameData.isSleeping
        }"
        class="tool-icon"
        src="../../assets/ui/go-back.png"
      />
      <img
        [ngClass]="{
          hideShovel: !gameData.canHarvest || gameData.equippedTool !== 'shovel'
        }"
        class="tool-icon"
        src="../../assets/ui/water-big.png"
      />
      <img
        [ngClass]="{
          hideShovel: !gameData.canFillWater
        }"
        class="tool-icon"
        src="../../assets/ui/water-fill.png"
      />
      <img
        [ngClass]="{
          hideShovel:
            gameData.openShop || !gameData.canOpenShop || gameData.isCarrying
        }"
        class="tool-icon"
        src="../../assets/ui/coins-big.png"
      />
      <div class="water-bar">
        <div
          class="bar"
          [style.width.%]="(gameData.water.current / gameData.water.max) * 100"
        ></div>
      </div>
    </div>
  </div>
  <div class="seed-ui" *ngIf="!gameData.isCarrying">
    <div
      class="seed"
      [ngClass]="{
        active: gameData.equippedTool === 'potato-seeds',
        opened: allSeeds(),
        closed: !allSeeds(),
        grayout: gameData.seedsOwned['potato'].count === 0
      }"
      (click)="changeTools('potato-seeds')"
      (mousedown)="$event.preventDefault()"
    >
      <span class="floating-number">1</span
      ><img src="../../assets/ui/potato-ui.png" />
      <div class="seed-count">
        {{ gameData.seedsOwned["potato"].count }}
      </div>
    </div>
    <div
      class="seed"
      [ngClass]="{
        active: gameData.equippedTool === 'carrot-seeds',
        opened: allSeeds(),
        closed: !allSeeds(),
        grayout: gameData.seedsOwned['carrot'].count === 0
      }"
      (click)="changeTools('carrot-seeds')"
      (mousedown)="$event.preventDefault()"
    >
      <span class="floating-number">2</span
      ><img src="../../assets/ui/carrot-ui.png" />
      <div class="seed-count">
        {{ gameData.seedsOwned["carrot"].count }}
      </div>
    </div>
    <div
      class="seed"
      [ngClass]="{
        active: gameData.equippedTool === 'wheat-seeds',
        opened: allSeeds(),
        closed: !allSeeds(),
        grayout: gameData.seedsOwned['wheat'].count === 0
      }"
      (click)="changeTools('wheat-seeds')"
      (mousedown)="$event.preventDefault()"
    >
      <span class="floating-number">3</span
      ><img src="../../assets/ui/wheat-ui.png" />
      <div class="seed-count">
        {{ gameData.seedsOwned["wheat"].count }}
      </div>
    </div>
    <div
      class="seed"
      [ngClass]="{
        active: gameData.equippedTool === 'cabbage-seeds',
        opened: allSeeds(),
        closed: !allSeeds(),
        grayout: gameData.seedsOwned['cabbage'].count === 0
      }"
      (click)="changeTools('cabbage-seeds')"
      (mousedown)="$event.preventDefault()"
    >
      <span class="floating-number">4</span
      ><img src="../../assets/ui/cabbage-ui.png" />
      <div class="seed-count">
        {{ gameData.seedsOwned["cabbage"].count }}
      </div>
    </div>
    <div
      class="seed"
      [ngClass]="{
        active: gameData.equippedTool === 'cauliflower-seeds',
        opened: allSeeds(),
        closed: !allSeeds(),
        grayout: gameData.seedsOwned['cauliflower'].count === 0
      }"
      (click)="changeTools('cauliflower-seeds')"
      (mousedown)="$event.preventDefault()"
    >
      <span class="floating-number">5</span
      ><img src="../../assets/ui/cauliflower-ui.png" />
      <div class="seed-count">
        {{ gameData.seedsOwned["cauliflower"].count }}
      </div>
    </div>
    <div
      class="seed"
      [ngClass]="{
        active: gameData.equippedTool === 'beet-seeds',
        opened: allSeeds(),
        closed: !allSeeds(),
        grayout: gameData.seedsOwned['beets'].count === 0
      }"
      (click)="changeTools('beet-seeds')"
      (mousedown)="$event.preventDefault()"
    >
      <span class="floating-number">6</span
      ><img src="../../assets/ui/beets-ui.png" />
      <div class="seed-count">
        {{ gameData.seedsOwned["beets"].count }}
      </div>
    </div>
    <div
      class="seed"
      [ngClass]="{
        active: gameData.equippedTool === 'radish-seeds',
        opened: allSeeds(),
        closed: !allSeeds(),
        grayout: gameData.seedsOwned['radish'].count === 0
      }"
      (click)="changeTools('radish-seeds')"
      (mousedown)="$event.preventDefault()"
    >
      <span class="floating-number">7</span
      ><img src="../../assets/ui/raddish-ui.png" />
      <div class="seed-count">
        {{ gameData.seedsOwned["radish"].count }}
      </div>
    </div>
    <div
      class="seed"
      [ngClass]="{
        active: gameData.equippedTool === 'kale-seeds',
        opened: allSeeds(),
        closed: !allSeeds(),
        grayout: gameData.seedsOwned['kale'].count === 0
      }"
      (click)="changeTools('kale-seeds')"
      (mousedown)="$event.preventDefault()"
    >
      <span class="floating-number">8</span
      ><img src="../../assets/ui/kale-ui.png" />
      <div class="seed-count">
        {{ gameData.seedsOwned["kale"].count }}
      </div>
    </div>

    <div
      class="seed"
      [ngClass]="{
        active: gameData.equippedTool === 'sunflower-seeds',
        opened: allSeeds(),
        closed: !allSeeds(),
        grayout: gameData.seedsOwned['sunflower'].count === 0
      }"
      (click)="changeTools('sunflower-seeds')"
      (mousedown)="$event.preventDefault()"
    >
      <span class="floating-number">9</span
      ><img src="../../assets/ui/sunflower-ui.png" />
      <div class="seed-count">
        {{ gameData.seedsOwned["sunflower"].count }}
      </div>
    </div>

    <div
      class="basket"
      [ngClass]="{ active: gameData.equippedTool === 'basket' }"
      (click)="changeTools('basket')"
      (mousedown)="$event.preventDefault()"
    >
      <span class="floating-number">B</span>
      <img src="../../assets/ui/seed-basket.png" />
      <div class="total-seed-count">
        {{
          gameData.seedsOwned["sunflower"].count +
            gameData.seedsOwned["kale"].count +
            gameData.seedsOwned["radish"].count +
            gameData.seedsOwned["beets"].count +
            gameData.seedsOwned["cauliflower"].count +
            gameData.seedsOwned["cabbage"].count +
            gameData.seedsOwned["wheat"].count +
            gameData.seedsOwned["carrot"].count +
            gameData.seedsOwned["potato"].count
        }}
      </div>
    </div>
  </div>
</div>
